:root {
  --header-link-main-color: #2196f3;
  --footer-link-mail-color: #2196f3;
  --all-title-color: #212121;
  --all-text-color: #757575;
  --timing-color-fon-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowarp;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------ШАПКА-HEADER----------------- */

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-link-main-color);
  display: block;
}

.header__logo-color {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__navigation {
  display: flex;
  margin-left: 93px;
}

.header__navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header__navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding: 32px 0;
  transition: color var(--timing-color-fon-shadow);
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: #2196f3;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.header__contact-item:not(:last-child) {
  margin-right: 30px;
}

.header__contact-svg-mail,
.header__contact-svg-tel {
  margin-right: 10px;
  fill: #757575;
  display: block;
  transition: fill var(--timing-color-fon-shadow);
}

.header__contact-svg-mail:hover,
.header__contact-svg-tel:focus {
  color: #2196f3;
}

.header__contact-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--timing-color-fon-shadow);
}

.header__contact-link-mail:hover,
.header__contact-link-mail:focus {
  color: #2196f3;
}

.header__contact-link-mail:hover .header__contact-svg-mail,
.header__contact-link-mail:focus .header__contact-svg-mail {
  fill: currentColor;
}

.header__contact-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--timing-color-fon-shadow);
}

.header__contact-link-tel:hover,
.header__contact-link-tel:focus {
  color: #2196f3;
}

.header__contact-link-tel:hover .header__contact-svg-tel,
.header__contact-link-tel:focus .header__contact-svg-tel {
  fill: currentColor;
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 1;
}

/* ----------------------ЗАКАЗ УСЛУГ-SERVICE----------------- */

.service {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Imgservicefon.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.service__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}

.service__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border: 0;
  transition: background-color var(--timing-color-fon-shadow);
}
.service__button:hover,
.service__button:focus {
  background-color: #188ce8;
}

/* ----------------------СФЕРА ДЕЯТЕЛЬНОСТИ-ACTIVITY----------------- */

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__list {
  display: flex;
}

.activity__item {
  width: 270px;
}

.activity__container-svg {
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}

.activity__svg {
  margin-right: auto;
  margin-left: auto;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--all-title-color);
  margin-top: 30px;
}

.activity__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--all-text-color);
  padding-top: 10px;
}

/* ----------------------ЧЕМ ЗАНИМАЮТСЯ-BUSINESS----------------- */

.business {
  padding-bottom: 94px;
}

.buisness__container {
  margin-top: 50px;
}

.business__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--all-title-color);
}

.business__list {
  display: flex;
}

.business__item {
  position: relative;
}

.business__item:not(:last-child) {
  margin-right: 30px;
}

.business__item-title {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ----------------------КОМАНДА-TEAM----------------- */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__container {
  margin-top: 50px;
}

.team__list {
  display: flex;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__nane-position {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--all-title-color);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__contact-list {
  display: flex;
  justify-content: center;
}

.team__contact-item:not(:last-child) {
  margin-right: 10px;
}

.team__contact-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-color-fon-shadow);
}

.team__contact-svg {
  fill: #afb1b8;
}

.team__contact-link:hover,
.team__contact-link:focus {
  background-color: #2196f3;
}

.team__contact-link:hover .team__contact-svg {
  fill: #ffffff;
}

.team__contact-link:focus .team__contact-svg {
  fill: #ffffff;
}

/* ----------------------КЛИЕНТЫ-CLIENTS----------------- */

.client {
  padding: 94px 0;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__link {
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: var(--timing-color-fon-shadow);
}

.client__logo {
  margin: 16px 32px;
  fill: #afb1b8;
  transition: var(--timing-color-fon-shadow);
}

.client__link:hover,
.client__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client__link:hover .client__logo,
.client__link:focus .client__logo {
  fill: #2196f3;
}

/* ----------------------ПОДВАЛ-FOOTER----------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__containers {
  display: flex;
}

.footer__container-first {
  width: 231px;
}

.footer__link-main {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-link-mail-color);
}

.footer__link-main-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__address {
  margin-top: 20px;
}

.footer__link-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__item {
  margin-top: 9px;
}

.footer__link-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link-mail {
  transition: color var(--timing-color-fon-shadow);
}

.footer__link-mail:hover,
.footer__link-mail:focus {
  color: #2196f3;
}

.footer__link-tel {
  transition: color var(--timing-color-fon-shadow);
}

.footer__link-tel:hover,
.footer__link-tel:focus {
  color: #2196f3;
}

.footer__container-second {
  margin-left: 70px;
  padding-top: 12px;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__contact-list {
  display: flex;
  justify-content: center;
}

.footer__contact-item:not(:last-child) {
  margin-right: 10px;
}

.footer__contact-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__contact-svg {
  fill: #ffffff;
}

.footer__contact-link {
  transition: background-color var(--timing-color-fon-shadow);
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  background-color: #2196f3;
}

.footer__container-third {
  margin-left: 93px;
  padding-top: 12px;
}

.footer__form {
  display: flex;
}

.footer__mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer__mail:placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.footer__logo-send {
  fill: #ffffff;
  margin-left: 10px;
}

/* ----------------------ПОРТФОЛИО-PORTFOLIO----------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__buttons-list {
  display: flex;
  justify-content: center;
}

.portfolio__button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  transition: background-color var(--timing-color-fon-shadow),
    color var(--timing-color-fon-shadow),
    box-shadow var(--timing-color-fon-shadow);
}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__portfolio-container {
  padding-top: 50px;
}

.portfolio__list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.portfolio__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--timing-color-fon-shadow);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:hover .portfolio__link-text {
  transform: translateY(0%);
}

.portfolio__link-container {
  position: relative;
  overflow: hidden;
}

.portfolio__link-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;

  transform: translateY(100%);
  transition: transform var(--timing-color-fon-shadow);
}

.portfolio__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--all-title-color);
}

.portfolio__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--all-text-color);
}

.portfolio__name-projekt {
  padding: 20px 24px;
}

/* ----------------------МОДАЛЬНОЕ-ОКНО----------------- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 6px;
  margin: 0;
  border-radius: 50%;
  transition: fill var(--timing-color-fon-shadow);
}

.modal__close-btn:hover .modal__logo-close {
  fill: #2196f3;
}

.modal__logo-close {
  display: block;
  transition: fill var(--timing-color-fon-shadow);
}

.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) rotate(90deg);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transition: transform 300ms;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: #757575;
}

.modal__input-wrap {
  position: relative;
}

.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  border-radius: 4px;
  transition: border-color var(--timing-color-fon-shadow);
}

.modal__input:focus {
  border-color: #2196f3;
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 300ms;
}

.modal__textarea-field {
  margin-bottom: 20px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border-radius: 4px;
  transition: border-color var(--timing-color-fon-shadow);
}

.modal__textarea:focus {
  border-color: #2196f3;
}

.modal__check-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;

  display: flex;
  align-items: center;
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--timing-color-fon-shadow);
}

.modal__icon-vector {
  fill: transparent;
  transition: fill var(--timing-color-fon-shadow);
}

.modal__imput-check:checked + .modal__check-text .modal__check-icon {
  background-color: #2196f3;
  border: none;
}

.modal__imput-check:checked + .modal__check-text .modal__icon-vector {
  fill: #ffffff;
}

.modal__conditions {
  display: inline-block;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-underline-offset: 1px;
  color: #2196f3;
}

.modal__submit {
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  transition: background-color var(--timing-color-fon-shadow);
}

.modal__submit:hover,
.modal__submit:focus {
  background-color: #188ce8;
}
