.client {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.client__title {
  font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.client__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 92px;
  // width: 170px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: var(--timing-color-fon-shadow);
  width: 100%;
}

.client__logo {
  margin: 16px;
  fill: #afb1b8;
  transition: var(--timing-color-fon-shadow);
}

.client {
  &__link:hover,
  &__link:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }

  &__link:hover &__logo,
  &__link:focus &__logo {
    fill: #2196f3;
  }
}
