:root {
  --header-link-main-color: #2196f3;
  --footer-link-mail-color: #2196f3;
  --all-title-color: #212121;
  --all-text-color: #757575;
  --timing-color-fon-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
